/* Info to know
min(number,number)
- first number is in pt
- second number is pt/4.8

*/
/*Google Fonts*/
/*Press Start 2P*/ @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*Overpass*/       @import url('https://fonts.googleapis.com/css2?family=Overpass&family=Press+Start+2P&display=swap');
/*Roboto Mono*/    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
/*Roboto Slab*/    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/*Other fonts*/
@font-face{
  font-family:'Asgaard Base';
  src: url('https://cdn.glitch.com/49e33c29-7598-4097-8641-ce504370cf7a/Asgaard-Base.ttf?v=168222');
}
@font-face{
  font-family:'Beckman Heavy';
  src: url('https://cdn.glitch.com/49e33c29-7598-4097-8641-ce504370cf7a/beckman-heavy.otf?v=1682220596874');
}

body{
  background-color: #444444;
  text-align:center;
  margin:0;
}

.bottom{
  border:none;
  width:100vw;
  margin:0;
  bottom:0;
  padding:0;
  max-width:100%;
  position: fixed;
  left: 0;
  height:62px;
  overflow:hidden;

}
.top{
  width:100vw;
  max-width:100%;
  height:230px;
  border:none;
  margin:0;
  padding:0;
}
@media (max-width: 750px)  {
  .bottom{display:none}
}



/*Other things*/
hr{
  /*color:red; /*Displays right on firefox but wrong on chrome*/
  height: 2px;
  border: none;
  background: red;
  margin:0;
}
hr.season {
  /*color:red; /*Displays right on firefox but wrong on chrome*/
  height: 2px;
  border: none;
  background: red;
  margin:15px auto;
  width:50%;
}
h1{
  font-family:'Beckman Heavy',sans-serif;
  color:red;
  font-size:50pt;
  margin:0;
}
h2{
  font-family:'Beckman Heavy',sans-serif;
  color:red;
  font-size:32pt;
  margin:0;
}
p,a,span{
  font-family:'Roboto Slab',sans-serif;
  color:white;
}

a{
  color:white;
  transition:.2s
}
a:hover{
  color:#999999;
}
